<table class="table-auto">
  <thead>
    <tr>
      @for(header of headers; track $index){
      <th>{{header}}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for(item of items(); track $index){
    <tr>
      @for(header of headers ; track $index){ @if(header === 'image_url'){
      <td>
        <img
          [ngSrc]="item[header]"
          priority
          [width]="20"
          [height]="20"
          alt="beer image" />
      </td>
      } @else {
      <td>{{item | getBeerProperty : header}}</td>
      } }
    </tr>
    }
  </tbody>
</table>
