<div class="bg-white p-4 flex items-center flex-wrap justify-center">
  <nav aria-label="Page navigation">
    <ul class="inline-flex">
      <li>
        <button
          (click)="pageChange.emit(next()- 2)"
          [disabled]="!(prev() > 0)"
          [className]="prev() > 0 ? 'px-4 py-2 text-grayDark transition-colors
          duration-150 bg-white border border-r-0 border-grayDark rounded-l-lg
          focus:shadow-outline hover:bg-grayLight': 'px-4 py-2 text-grayDark
          transition-colors duration-150 bg-white border border-r-0
          border-grayDark rounded-l-lg focus:shadow-outline hover:bg-grayLight
          cursor-not-allowed'">
          Prev
        </button>
      </li>
      @for (page of pages(); track $index){
      <li>
        <button
          (click)="pageChange.emit(page + 1)"
          [className]="next() && next() - 1 === page + 1 ? 'px-4 py-2 text-white transition-colors duration-150 bg-grayDark border border-r-0 border-grayDark focus:shadow-outline hover:bg-grayLight': 'px-4 py-2 text-grayDark transition-colors duration-150 bg-white border border-r-0 border-grayDark focus:shadow-outline hover:bg-grayLight'">
          {{ page + 1 }}
        </button>
      </li>
      }
      <li>
        <button
          (click)="pageChange.emit(next())"
          [disabled]="!(next())"
          [className]="next()? 'px-4 py-2 text-grayDark transition-colors duration-150 bg-white border border-grayDark rounded-r-lg focus:shadow-outline hover:bg-grayLight': 'px-4 py-2 text-grayDark transition-colors duration-150 bg-white border border-grayDark rounded-r-lg focus:shadow-outline hover:bg-grayLight cursor-not-allowed'">
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>
