<div
  style="height: 350px"
  class="max-w-sm rounded overflow-hidden shadow-lg w-90 h-90 flex flex-col m-2 bg-white">
  <div class="flex justify-center">
    <img
      [ngSrc]="beer.image_url"
      [width]="48"
      [height]="48"
      priority
      class="h-48 object-contain"
      alt="Sunset in the mountains" />
  </div>
  <div class="px-6 py-4">
    <div appEllipsis class="font-bold text-xl mb-2">{{beer.name}}</div>
    <p appEllipsis appTooltip class="text-gray-700">{{beer.description}}</p>
  </div>
  <div class="flex flex-row justify-center">
    <button
      (click)="toDetails()"
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
      <img src="assets/icons/eye.svg" alt="more details" />
    </button>
    <button
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
      <img src="assets/icons/plus-circle.svg" alt="add to basket" />
    </button>
  </div>
</div>
